div {
  background: #20B2AA;
  padding: 10px;
  border-radius: 5px;
  white-space: normal;
}
.div1 {
  display:inline-block;
  overflow-x:hidden;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #2077AA;
  width: 40%;
  overflow-x:hidden;
  white-space: normal;
  word-wrap:break-word;
}
.div2 {
  display:inline-block;
}
#left { text-align: left; }
#right { text-align: right; }
